/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
body {
    background-color: black;
}

.landing-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 480px) {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.background-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.background-image h1 {
    color: white;
    font-size: 80px;
}

.background-image .content-container {
    position: absolute;
    top: 40%;
    left: 31%;
    transform: translate(-40%, -50%);
    text-align: left;
}

.container-button {
    position: absolute;
    margin-top: 30px;
}

.btn-registrer {
    width: 15em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.btn-registrer::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #087e2d58 0%, #6bb707d1 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
.btn-registrer:hover::before {
    width: 15em;
   }

   .carousel {
    position: absolute;
    top: 50%;
    right: 8%;
    bottom: 450px;
    color: white;
    font-size: 20px;
    }
  
  .carousel img {
    width: 100%;
    height: 450px;
    margin-bottom: 0.5rem;
  }
  .carousel-item {
    height: 20rem;
    width: 30rem;
    background-color: #000;
  }


