
.container-about {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.aboutus-title {
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 24px;
    font-weight: 900;
    margin-top: 10px;
    padding: 0;
    text-orientation: upright;
    white-space: nowrap;
    letter-spacing: 0.2em;
}

.title-container {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.text-container {
    display: flex;
    text-align: justify;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    background-color: rgba(254, 254, 254, 0.786);
    color: rgb(50, 44, 44);
}