
.container-fluid {
  background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=800);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5vh;
  overflow: auto;
}

.container-fluid .border-top {
  border-top: 1px solid #fff;
  margin: 2vh 0;
}

.aboutus-title {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10vh;
  margin-top: 20vh;
}

.aboutus-text {
  font-weight: 700;
  color: white;
  font-size: 6vh;
  letter-spacing: 0.1em;
}

.text-container1,
.text-container2 {
  font-size: 2vh;
  margin-bottom: 2vh;
  text-align: left;
  color: white;
  font-weight: 150;
}

.text-container2 {
  margin-bottom: 20vh;
}