
.aboutus-container {
  background-image: url(https://images.pexels.com/photos/1276518/pexels-photo-1276518.jpeg?auto=compress&cs=tinysrgb&w=800);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  color: white;
  padding: 10vh;
}

.aboutus-title {
  margin-bottom: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 60px;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

.aboutus-description {
  margin-bottom: 3vh;
}

.text-container1 {
  margin-top: 30px;
}
.text-container2 {
  margin-bottom: 30px;
}

.text-container1,
.text-container2 {
  font-size: 16px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenido-circulos {
  justify-content: center;
  align-items: center;
  display: flex;
}


.circle {
  width: 200px;
  height: 200px;
  border: 2px;
  border-radius: 50%;
  background-color: #c0c0c0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 30px;
}

.circle-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  font-weight: 900;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}

