
.destinations-container {
    background-image: url(https://images.unsplash.com/photo-1499591934245-40b55745b905?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80);
    background-color: rgba(255, 255, 255, 0.06);
    border: 3px solid rgb(255, 255, 255, 0.06);
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
    background-repeat: no-repeat;
    background-size: cover;
}


.text-recomendation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}


.btn-result {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(255, 255, 255, 0.06);
  margin-left: 70px;
}


.final-result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  color:  rgb(244, 177, 61);
  

}

.quiz-container {
    font-size: 16px;
    font-weight: 500;
    padding: 30px 50px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.835);
    width: 800px;
    height: 450px;
    color: white;
    backdrop-filter: blur(10px);
}

    

.title-destinations {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 28px;
    margin-bottom: 24px;
    align-items: center;
    font-weight: 900;
    white-space: nowrap;
    letter-spacing: 0.2em;
}

.subtitle-destinations {
    text-align: center;
    color: rgb(128, 244, 61);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
    font-style: italic;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    cursor: pointer;
  }
  
   .image {
    width: 50%; 
    height: 200px;
    margin-right: 20px; 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .image:hover{
    box-shadow: 0px 0px 9px 4px #53ef3b;
  }

  .image:active{
    transform: scale(0.8);
  }

.text2 {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 0;
  font-size: 16px;
}

 .btn-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  
 }

  
