.container {
  max-width: 100%;
  background-image: url(https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&w=800);
}

.jumbotron {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  animation: fade-in 3s linear;
  margin-top: 80px;
  position: relative;
  z-index: 1;
}

.container-fluid.py-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron-destination,
.jumbotron-description {
  text-align: center;
}

.jumbotron-description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  height: 100%;
  max-width: 100%;
}

.fade-in-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../img/sunset.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -100;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jumbotron-destination {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.jumbotron-destination::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff9800;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.jumbotron-destination:hover::after {
  transform: scaleX(1);
}

.jumbotron-description {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
  text-align: justify;
  opacity: 0;
  transform: translateY(20px);
  animation: jumpWords 3s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  max-width: 100%;
}

@keyframes jumpWords {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.add-fav-button {
  background-color: #ff9800;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.add-fav-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #f57c00;
  z-index: -1;
  transition: height 0.3s ease;
}

.add-fav-button:hover {
  background-color: #f57c00;
}

.add-fav-button:hover:before {
  height: 100%;
}

.jumbotron-alert {
  background-color: #f44336;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
}

.pt-3 {
  padding-top: 8px;
}

.mt-4 {
  margin-top: 16px;
}

.text-muted {
  color: #6c757d;
}

.border-top {
  border-top: 1px solid #dee2e6;
}

.temperature-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.temperature-text {
  font-size: 14px;
  color: #666666;
  margin: 5px;
}

.display-6 {
  font-size: 18px;
}

.display-5 {
  font-size: 24px;
}

.weather-icon {
  width: 100px;
  
}