.jumbotron {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-in-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../img/sunset.jpeg'); 
  background-size: cover;
  background-position: center;
  animation: fade-in 3s linear;
  z-index: -100; /* Set a lower z-index to position the background behind the jumbotron */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jumbotron-content {
  position: relative;
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

/* Rest of the CSS code */


.jumbotron-heading {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.jumbotron-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff9800;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.jumbotron-heading:hover::after {
  transform: scaleX(1);
}

.jumbotron-destination {
  font-size: 36px;
  color: #ff9800;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.jumbotron-destination::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff9800;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.jumbotron-destination:hover::after {
  transform: scaleX(1);
}

.jumbotron-destination {
  font-size: 36px;
  color: #ff9800;
  margin-bottom: 20px;
}



.jumbotron-description {
  font-size: 20px;
  color: #666666;
  margin-bottom: 30px;
  position: relative;
  opacity: 0; /* Hide the element initially */
  transform: translateY(20px); /* Move the element down */
  animation: jumpWords 3s forwards; /* Apply the animation and retain the final state */
}

@keyframes jumpWords {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.add-fav-button {
  position: relative;
  background-color: #ff9800;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.add-fav-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #f57c00;
  z-index: -1;
  transition: height 0.3s ease;
}

.add-fav-button:hover {
  background-color: #f57c00;
}

.add-fav-button:hover:before {
  height: 100%;
}

.add-fav-button span {
  position: relative;
  z-index: 2;
}



.jumbotron-alert {
  background-color: #f44336;
  color: #ffffff;
  padding: 12px;
  border-radius: 4px;
  font-size: 18px;
}

